.container {
    display: flex;
    width: 600px;
    margin-top: 15px;
    align-items: center;

    
    overflow: hidden;
    padding: 15px;


}


.imgContainer {
    flex-shrink: 0;
    background-color: aliceblue;
    width: 300px;
    height: 200px;
}

.img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    margin-left: 15px;
}

.title {
    font-size: 30px;
    font-family: "Calibri";
    line-height: 25px;
    text-decoration: none;
    color : black
}


.bodyContainer {
    width: 300px;
    

    
}

.body {
    margin-top: 10px;
    font-size: 15px;
    font-family: "Calibri";
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    overflow: hidden;
    /* Скрытие части текста, выходящей за пределы контейнера */
   
}